<h1><%= @post.name %></h1>
<h2><%= @post.content %></h2>

<% if @post.tags.any? %>
    <h4>Tags: </h4>
    <ul>
        <% @post.tags.each do |t| %>
            <li><%= t.name %></li>
        <% end %>
    </ul>
<% end %>

